body {
    background-color: lavender;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    margin-top: 20px;
}

article {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    max-width: 400px;
    flex: red;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.contact-btn {
    background-color: blue;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
